/* CORPS */
/* ARTICLES */
main article .borderz {
    margin-top: 5%;
    border: 2px dotted rgb(0, 0, 0);
}

.text-justify {
    text-align: justify;
}

h2.text-end:before {
    content: "\2192";
}

/* RESPONSIVE */
@media screen and (max-width: 992px) {
    main article section span {
        flex-direction: column;
        text-align: center;
      }
    
    .navbarhidden {
        display: none;
    }
}

.reveal {
    opacity: 0;
    transform: translateY(60px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 2s cubic-bezier(.5, 0, 0, 1);
}


@media screen and (max-width: 425px) {
    footer div {
        flex-direction: column;
    }
}
