/* CORPS */
.content {
    text-align: center;
}

.Bowiespicture {
    margin-top: 5%;
    text-align: center;
}

section p {
    margin: none;
}

section p a {
    color: black;
    height: 40px;
    font-weight: bold;
    text-decoration: none;
}

section p:hover {
    background-color:rgba(231, 233, 133, 0.26);
    padding: 11px;
}

  /* RESPONSIVE */
@media screen and (max-width: 1200px) {
    .container {
        margin: 3% 10%;
    }
    
    .photo {
        width: 40%;
    }

    .content p {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 900px) {
    .container {
        margin: 3% 6%;
    }
    
    .photo {
        width: 50%;
    }

    .content p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 670px) {
    .container {
        margin: 3% 3%;
    }
    
    .photo {
        width: 60%;
        float: none;
    }

    .content p {
        font-size: 0.7em;
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    footer div {
        flex-direction: column;
    }
}
