/* image de Bowie et son animation */ 
.img-fluid {
    max-width: 300px;
    margin: 10svh 2svh 10svh 2svh;
    transition: all 0.5s;
}

.img-fluid:hover {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

/* style des cartes + setup du appear on slide */ 
.card-body  {
    margin: 5svh;
    padding: 2svh;
    border: 1px solid purple;
}

.card-body:last-child {
    margin-bottom: 8svh;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.articleContainer {
    margin-top : 5svh;
    width: 69%;   
}

.articleContainer, aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* aside */
.mainContent {
    display: flex;
}

aside {
    width: 30%;
    margin: 10svh 5svh 5svh 0;
    gap: 10px;
}

.content {
    width: 100%;
    background: url(../img/asides-bg.avif);
    background-position: center;
    background-size: cover;
    border: 1px dotted;
    padding: 2svh;
}

.content:nth-child(even) {
    background: none;
}

aside h3 {
    background-color: rgba(255, 255, 255, 0.9);
    padding : 1svh;
    font-size: 1.5em;
}

/* hoverS aside */
.bi-linkedin:hover, .bi-envelope:hover, .portfolioImg:hover {
    opacity: 0.7;
}

/* aside video */
#asideVideo {
    max-width: 300px;
}


/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .img-fluid {
        max-width: 150px;
    }
    .mainContent {
        display: block;
    }
    aside {
        width: 80%;
        margin: 10svh auto 5svh auto;
    }
    .articleContainer {
        width: 80%;   
        margin : 5svh auto 0 auto;
    }
    .card-body  {
        margin: 5svh 0;
    }
    #bowiedodo {
        max-width: 250px;
    }
}
